<h1>Attendance Calendar</h1>
<div id='calendar'></div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" />

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        <% @events.each do |event| %>
          <%= puts event.inspect %>
            {
              title: '<%= event[:title] %>',
              start: '<%= event[:start] %>',
              className: '<%= event[:className] %>'
            },
        <% end %>
      ]
    });
    calendar.render();
  });
</script>
