<h1>Attendance Calendar</h1>
<div id='calendar'></div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" />

<% if @events.present? %>
  <script>
  $(document).ready(function() {
    var calendarEl = document.getElementById('calendar');

    if (calendarEl) {
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [
          <% @events.each do |event| %>
            {
              title: '<%= event[:title] %>',
              start: '<%= event[:start].strftime('%Y-%m-%dT%H:%M:%S') %>',
              className: '<%= event[:className] %>'
            },
          <% end %>
        ]
      });

      calendar.render();
    }
  });
</script>
<% end %>

