
<%= form_with(model: @attendance, local: true) do |form| %>
 <div class="field-upload">
    <%= form.label :file %>
    <%= form.file_field :file %>
 </div>

 <div class="actions-upload">
    <%= form.submit %>
 </div>
<% end %>




